
.page{
  text-align: center;
  margin:20px;
}
.interactions{
  text-align: center;
}
.table{
  margin: 20px;
}
.table-empty{
  margin: 200px;
  text-align: center;
  font-size: 20px;
}
.button-inline{
  border-width: 0;
  padding:0;
  
}
